<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">

    

<link href="Asset/trombinoscope.css" rel="stylesheet" />

</head>

    <body>
        {{ form_start(form) }}
        {{ form_row(form.login) }}
        {{ form_row(form.password) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
        
    </body>


</html>
